aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
annotated-types @ file:///C:/b/abs_0dmaoyhhj3/croot/annotated-types_1709542968311/work
attrs==25.3.0
blis==1.3.0
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
catalogue @ file:///C:/b/abs_0d918n68qi/croot/catalogue_1703688198988/work
certifi @ file:///C:/Users/task_176765914684981/croot/certifi_1767659268506/work/certifi
cffi==2.0.0
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/click_1699473800648/work
cloudpathlib @ file:///C:/b/abs_049y1lewoy/croot/cloudpathlib_1704812313028/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
confection @ file:///C:/b/abs_dcftb4qo2h/croot/confection_1703694738925/work
contourpy @ file:///C:/b/abs_f2u2o_8s9g/croot/contourpy_1732540071787/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem @ file:///C:/b/abs_908b_1v3z0/croot/cymem_1736262800502/work
datasets==3.4.1
dill==0.3.8
dotenv==0.9.9
editdistance==0.8.1
epitran==1.26.0
et_xmlfile==2.0.0
filelock==3.18.0
flake8 @ file:///C:/b/abs_11zrixwsv1/croot/flake8_1726157202790/work
fonttools @ file:///C:/b/abs_4crkswws2h/croot/fonttools_1737040078745/work
frozenlist==1.5.0
fsspec==2024.12.0
gmpy2 @ file:///C:/miniconda3/conda-bld/gmpy2_1764748183167/work
huggingface-hub==0.29.3
idna==3.10
jamo==0.4.1
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib @ file:///C:/b/abs_f4b98l6lgk/croot/joblib_1718217224240/work
kiwisolver @ file:///C:/b/abs_faf90xet7a/croot/kiwisolver_1737040915779/work
langcodes @ file:///opt/conda/conda-bld/langcodes_1643477751144/work
loguru @ file:///C:/b/abs_10xzug4jqd/croot/loguru_1729800318535/work
lxml==5.3.1
marisa-trie==1.2.1
markdown-it-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/markdown-it-py_1699473886965/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.0
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdurl @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mdurl_1699473506455/work
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mpmath @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mpmath_1699484863771/work
multidict==6.2.0
multiprocess==0.70.16
munkres==1.1.4
murmurhash @ file:///C:/b/abs_f1_1p5yg6_/croot/murmurhash_1741707831116/work
networkx @ file:///C:/miniconda3/conda-bld/networkx_1765378655825/work
nl_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/nl_core_news_lg-3.8.0/nl_core_news_lg-3.8.0-py3-none-any.whl#sha256=19a3cb18b92f775a0df0e61026e2a0f874e73aabb1b744b16230dfe573a3e34e
nltk @ file:///C:/b/abs_3e10flry37/croot/nltk_1724427703710/work
numpy @ file:///C:/b/abs_0123vcxhf8/croot/numpy_and_numpy_base_1725470331966/work/dist/numpy-2.0.1-cp312-cp312-win_amd64.whl#sha256=e3e9d7fcaa32e9aa86aa46a7191a47fc4c4b35942462bbbedd17c45ef934dccd
openpyxl==3.1.5
packaging @ file:///C:/b/abs_3by6s2fa66/croot/packaging_1734472138782/work
pandas==2.2.3
panphon==0.21.2
pillow @ file:///C:/b/abs_2cm0qc1vxk/croot/pillow_1731594717982/work
praat-parselmouth==0.4.5
preshed @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/preshed_1699482793545/work
propcache==0.3.0
pyarrow==19.0.1
pycodestyle @ file:///C:/b/abs_9bj6ihy3hn/croot/pycodestyle_1726150314067/work
pycparser==2.23
pydantic @ file:///C:/b/abs_27dx58x550/croot/pydantic_1734736090499/work
pydantic_core @ file:///C:/b/abs_bdosz7qwys/croot/pydantic-core_1734726071532/work
pyflakes @ file:///C:/b/abs_b6t1aazq2e/croot/pyflakes_1708963020907/work
Pygments @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pygments_1699474141968/work
pyparsing @ file:///C:/b/abs_40z8gyj9wi/croot/pyparsing_1731445739241/work
PyQt6==6.7.1
PyQt6_sip @ file:///C:/b/abs_f47pmp6xmn/croot/pyqt-split_1744804513582/work/pyqt_sip
PySocks @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pysocks_1699473336188/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-docx==1.1.2
python-dotenv==1.1.0
pytz==2025.1
PyYAML==6.0.2
regex @ file:///C:/b/abs_d785r851h6/croot/regex_1736542205858/work
requests @ file:///C:/b/abs_c3508vg8ez/croot/requests_1731000584867/work
rich @ file:///C:/b/abs_8b92fzmygg/croot/rich_1732638991774/work
scikit-learn @ file:///C:/b/abs_45qemhn4lg/croot/scikit-learn_1753427401078/work
scipy @ file:///C:/b/abs_b9r7ium9ba/croot/scipy_1753384423349/work/dist/scipy-1.16.0-cp312-cp312-win_amd64.whl#sha256=d778bb2788b9a2fa1a533e8c636538b65eb0bb176a9241d40752b54084919634
setuptools==75.8.0
shellingham @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/shellingham_1699475566718/work
sip @ file:///C:/b/abs_5cto136kse/croot/sip_1738856220313/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
smart-open @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/smart_open_1699483216058/work
soundfile==0.13.1
spacy==3.8.7
spacy-legacy @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/spacy-legacy_1699496642242/work
spacy-loggers @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/spacy-loggers_1699496673845/work
srsly @ file:///C:/b/abs_610qoxca56/croot/srsly_1741858013545/work
sympy @ file:///C:/miniconda3/conda-bld/sympy_1764762977930/work
thinc==8.3.6
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
torch==2.5.1
torchaudio==2.5.1
torchcodec==0.9.1
torchvision==0.20.1
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
tqdm @ file:///C:/b/abs_0eh9b6xugj/croot/tqdm_1738945553987/work
typer @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/typer_1699483420852/work
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
tzdata==2025.2
unicodecsv==0.14.1
unicodedata2 @ file:///C:/b/abs_dfnftvxi4k/croot/unicodedata2_1736543771112/work
urllib3 @ file:///C:/b/abs_7bst06lizn/croot/urllib3_1737133657081/work
wasabi @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/wasabi_1699483494040/work
weasel @ file:///C:/b/abs_a2eodvola9/croot/weasel_1704815815095/work
wheel==0.45.1
win-inet-pton @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/win_inet_pton_1699472992992/work
win32-setctime @ file:///home/tkoch/Workspace/win32_setctime/win32_setctime_1643630045199/work
xxhash==3.5.0
yarl==1.18.3
